<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ESTILOS/estiloCrearUsuarioSuper.css">
</head>
<body>
    <div class="contenedorinfo">
        <h1>Crear Usuario</h1>
        <div class="inputs">
            <div class="field">
                <label for="nombres">Nombres</label>
                <input type="text" id="nombres" placeholder="Nombres" />
            </div>

            <div class="field">
                <label for="correo">Correo</label>
                <input type="text" id="correo" placeholder="Correo" />
            </div>

            <div class="field">
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" placeholder="contraseña" />
            </div>

            <div class="field">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" placeholder="Teléfono" />
            </div>

            <div class="field">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" placeholder="Apellidos" />
            </div>

            <div class="field">
                <label for="apellidos">Genero</label>
                <select id="genero" name="genero">
                    <option value="Genero">Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No binario">No binario</option>
                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <div class="field">
                <label for="municipio">Municipio</label>
                <select id="municipios" name="municipio">
                    <option value="departamento">Municipio</option>
                </select>
            </div>

            <div class="field">
                <label for="tipoDocumento">Tipo Documento</label>
                <input type="text" id="tipoDocumento" placeholder="Tipo Documento" />
            </div>

            <div class="field">
                <label for="numeroDocumento">Número Documento</label>
                <input type="text" id="numeroDocumento" placeholder="Número Documento" />
            </div>

            <div class="field">
                <label for="departamento">Departamento</label>
                <select id="departamentos" name="departamento">
                    <option value="departamento">Departamento</option>
                    <option value="amazonas">Amazonas</option>
                    <option value="antioquia">Antioquia</option>
                    <option value="arauca">Arauca</option>
                    <option value="atlantico">Atlántico</option>
                    <option value="bolivar">Bolívar</option>
                    <option value="boyaca">Boyacá</option>
                    <option value="caldas">Caldas</option>
                    <option value="caqueta">Caquetá</option>
                    <option value="casanare">Casanare</option>
                    <option value="cauca">Cauca</option>
                    <option value="cesar">Cesar</option>
                    <option value="choco">Chocó</option>
                    <option value="cordoba">Córdoba</option>
                    <option value="cundinamarca">Cundinamarca</option>
                    <option value="guainia">Guainía</option>
                    <option value="guaviare">Guaviare</option>
                    <option value="huila">Huila</option>
                    <option value="la-guajira">La Guajira</option>
                    <option value="magdalena">Magdalena</option>
                    <option value="meta">Meta</option>
                    <option value="narino">Nariño</option>
                    <option value="norte-de-santander">Norte de Santander</option>
                    <option value="putumayo">Putumayo</option>
                    <option value="quindio">Quindío</option>
                    <option value="risaralda">Risaralda</option>
                    <option value="san-andres-y-providencia">San Andrés y Providencia</option>
                    <option value="santander">Santander</option>
                    <option value="sucre">Sucre</option>
                    <option value="tolima">Tolima</option>
                    <option value="valle-del-cauca">Valle del Cauca</option>
                    <option value="vaupes">Vaupés</option>
                    <option value="vichada">Vichada</option>
                </select>
            </div>
            <div class="field">
                <label for="Rol">Rol</label>
                <select id="genero" name="genero">
                    <option value="Rol">Rol</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Cliente">Cliente</option>
                    <option value="Secretaria">Secretaria</option>
                    <option value="Encargado">Encargado</option>
                </select>
            </div>
        </div>
    </div>
    <script src="/JS/menu.js"></script>
</body>
</html>