@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link rel="stylesheet" href="/css/menuSuper.css">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Datos de la empresa</h1>
        <div class="inputs">
            <div class="line">
                <input type="text" placeholder="Nombre Empresa" disabled>
                <input type="text" placeholder="Dirección" disabled>
            </div>
            <div class="line">
                <input type="text" placeholder="Contacto" disabled>
                <input type="text" placeholder="Correo" disabled>
            </div>
            <div class="centered">
                <input type="text" placeholder="Tipo Empresa" disabled>
            </div>
            <div class="centered">
                <textarea id="area" placeholder="Descripción" disabled></textarea>
            </div>
        </div>
    </div>
</body>

